<div id="main">
    <div id="jokeSectionMain">
        <p hidden id="jokeSection">{{title}}</p>
        <div>
            <button id="boton1">Chiste aleatorio</button>
        </div>
    </div>
    <div id="repoSection">
        <div> <input type="text" id="searchField"/></div>
        <div id="repoList">
        </div>
    </div>
</div>