body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#main {
  width: 100%;
}

#jokeSectionMain {
  width: 50%;
  text-align: center;
  float: left;
}

#jokeSection {
  font-size: 25px;
  animation-duration: 1.5s;
  animation-name: fadeIn;
}

#searchField {
  margin-top: 30px;
  margin-left: 40px;
}

.errorBackGround {
  background-color: red;
}

#repoSection {
  width: 50%;
  float: right;
}

a {
  color: #00B7FF;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

